<div class="main-a">
    <h1>About Us</h1>

    <div class="Flo">
        <p class="about-p">Kash - likes to drink wine, tea, and more wine and tea. When he is not building websites, he really
            likes to go to hiking outdoors with the Chief Happiness Officer, or drinking wine and tea. Kash's favorite part
            of this building this website was getting the article algorithm to work! He was hangry most of the time, but
            is now glad it's all over.
        </p>
    </div>
    <div class="Kash">
        <p class="about-p">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
            has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
    </div>
</div>