<div class="container">

    <div class="row">
        <div class="col-md-8 white">
            <h1 class="text-center mt-12">About Us</h1>
            <div id="photos" class="row">
                <div class="col-md-4"><img src="../images/Kash.png" alt=""></div>
                <div class="col-md-4"><img src="../images/flo.png" alt=""></div>
                <div class="col-md-4"><img src="../images/Yoto.png" alt=""></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h6 style="color:red;">Kaschief Johnson</h6 style="color:red;">
                    <p>When not building websites, Kash likes to explore his passion for drinking wine, tea and hiking
                        with the Chief Happiness Officer.
                    </p>
                    <a href="https://www.linkedin.com/in/kaschief-johnson-56a23a107/" target="blank">Linked In</a>
                </div>

                <div class="col-md-4">
                    <h6 style="color:red;">Florian Müller</h6 style="color:red;">
                    <p>31-year-old single man, enjoys long walks on the beach, sitting under palms trees, waiting for
                        the sun to set. Come join me.
                    </p>
                    <a href="https://www.linkedin.com/in/florian-m%C3%BCller-0a830a18/" target="blank">Linked In</a>

                </div>
                <div class="col-md-4">
                    <h6 style="color:red;">Chief Happiness Officer</h6>
                    <p>I like to chew on people's shoes when they are programming and put my head between their legs
                        where it's nice and cozy.
                    </p>
                    <a href="https://giphy.com/explore/funny-dog">Linked In</a>
                </div>
            </div>
        </div>
    </div>
</div>


{{!--
<h1>About Us</h1>

<div class="Flo">
    <p>When not building websites, Kash likes to explore his passion for drinking wine, tea and hiking with the Chief
        Happiness Officer. His favorite part of
        this building this website was getting the article algorithm to work! He was hangry most of the time, but is
        now glad it's all over.
    </p>
</div>
<div class="Kash">
    <p class="about-p">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
        has
        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged.
    </p> --}}