<div class="container">

    <div class="row">
        <div class="col-md-8 white">
            <h1 class="text-center mt-12">About Us</h1>
            <div id="photos" class="row">
                <div class="col-md-4"><img src="../images/Kash.png" alt=""></div>
                <div class="col-md-4"><img src="../images/flo.png" alt=""></div>
                <div class="col-md-4"><img src="../images/Yoto.png" alt=""></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h6 style="color:red;"> <strong>Kaschief Johnson</strong> </h6 style="color:red;">
                    <p>New to Berlin from NYC. Kash likes to explore his passion for drinking wine and tea, and running
                        around town with the Chief Happiness Officer.
                    </p>
                    <a id="linkedin" href="https://www.linkedin.com/in/kaschief-johnson-56a23a107/" target="blank">
                        <img src="../images/linkedin.png">
                    </a>

                </div>

                <div class="col-md-4">
                    <h6 style="color:red;"><strong>Florian Müller</strong></h6 style="color:red;">
                    <p>31-year-old single man, enjoys long walks on the beach, sitting under palms trees, waiting for
                        the sun to set. Come join me.
                    </p>

                    <a id="linkedin" href="https://www.linkedin.com/in/florian-m%C3%BCller-0a830a18/" target="blank">
                        <img src="../images/linkedin.png">
                    </a>

                </div>
                <div class="col-md-4">
                    <h6 style="color:red;"><strong>Chief Happiness Officer (Yoto)</strong></h6>
                    <p>I like to chew on people's shoes when they are programming and put my head between their legs
                        where it's nice and cozy.
                    </p>
                    <a id="linkedin" href="https://giphy.com/explore/funny-dog" target="blank">
                        <img src="../images/linkedin.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>