<div class="container">

    <div class="row">
        <div class="col-md-6 white">
            <h1 class="text-center mt-5">Careers</h1>
            <p> - Senior Full Stack Engineer <br>Berlin</p>
            <p> - Junior Full Stack Engineer <br>Berlin & Dublin</p>
            <p> - Accounting Associate <br>Berlin</p>
            <p> - Associate Chief Happiness Officer <br>Berlin</p>
            <p> - Growth Marketing Manager <br>Berlin & Dublin</p>
        </div>
    </div>
</div>