<div class="main-signup">
    <div class="main-index">
        <h1 class="index"> Discover the Magic of <b id="klipr" style="color:red;">Klipr</b></h1>
        <br>
        <div class="main-p">
            <p>With Klipr, it's easier than ever to save your favorite webpages and read them later. Simply enter your
                favorite
                URLs, and Klipr automatically saves them for you in your list. View your articles from any phone,
                tablet
                or computer -- whenever you want! </p>
        </div>
        <div class="signup-button-div">

            <a href="signup"><button type="button" class="btn">Sign Up</button>
            </a>
        </div>
    </div>
</div>