<div class="main">
    <div class="headline">
        <p>Welcome to the World of Klipr.<br> Signup or Login and Discover our world. </p>
    </div>
    <div class="startform">
        <button class="signup-button"><a href="/signup">Sign Up Here</a></button>
        <button class=" login-button "><a href="/login">Login Here</a></button>

    </div>
</div>







{{!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

HOME PAGE --}}