<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav id="navigation">
    <ul>
      <li><a href="/login">login</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/careers">Career Opportunities</a></li>
      <li></li><a href="/">Home</a></li>
      <li></li><a href="/signup">Signup</a></li>
      <li></li><a href="/login">Login</a></li>
      <li></li><a href="/logout">Logout</a></li>
      <li></li><a href="/mylist">MyList</a></li>
    </ul>

    <nav class="navbar navbar-dark bg-dark">


    </nav>
    {{!--
    <nav class="navbar bg-light navbar-light">
      <!-- Brand -->
      <img src="../public/images/K lipr.png" alt="Logo" height="42" width="42">

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="logo"></div> --}} {{{body}}} {{!--
    <nav class="navbar ">
      <a href="/about">About Us</a>
      <a href="/careers">Career Opportunities</a>

    </nav> --}}
    <script src="/javascripts/script.js"></script>
</body>

</html>