<div class="signup-form">
    <form action="/signup" method="POST">
        <div class="form-group-signup">
            <h1>Sign Up</h1>
            <input type="name" name="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp"
                placeholder="Name">

        </div>
        <div class="form-group-signup">

            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group-signup">

            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">Please enter a password of at least 8
                characters.</small>

        </div>
        {{#if errorMessage}}
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
        {{/if}}
        <button type="submit" class="button-login-signup">Submit</button>
    </form>
</div>